<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
	<link rel="stylesheet" href="/css/styles.css" />
	<title>{{title}}</title>
</head>

<body>
	<main>
		{{> header}}
		<p>This site was created by Utkarsh Patil. It uses geographic location data from MapBox to retrieve weather information
			from WeatherStack.</p>
		<p style="text-align:center;"><img class = "utk" src="/img/pic.jpg" alt="ME">
		<figcaption>This is ME!!</figcaption></p>
	</main>
	{{> footer}}
</body>

</html>
