* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Helvetica;
	color: #333;
	max-width: 720px;
	margin: 0 auto;
	padding: 0 16px;
}

figcaption{
	margin-left: 300px;
	font-style: italic;
}

.utk{
	max-width: 200px;
}

main {
	flex-grow: 1;
}

header {
	margin: 24px 0 48px;
}

header h1 {
	font-size: 48px;
}

p {
	line-height: 1.5;
}

nav a {
	text-transform: uppercase;
	text-decoration: none;
	color: #888;
	margin-right: 16px;
}

nav a:hover {
	border-bottom: 1px solid #888;
}

input {
	width: 250px;
	font-size: 14px;
	border: 1px solid #ccc;
	padding: 8px;
}

button {
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	background: #888;
	border: 1px solid #888;
	padding: 8px;
}

footer {
	color: #888;
	border-top: 1px solid #eee;
	margin-top: 16px;
	padding: 16px 0;
}
